{{/* 
  Navigation Component
  Usage: {{ partial "components/navigation.html" . }}
*/}}

<nav class="navbar navbar-expand-lg" role="navigation" aria-label="Main navigation">
  <div class="container">
    <!-- Logo/Brand -->
    <!-- <a class="navbar-brand" href="{{ .Site.BaseURL }}" aria-label="{{ .Site.Title }} - Home">
      <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" width="150" height="40">
    </a> -->

    <!-- Mobile menu button -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarMain" 
      aria-controls="navbarMain" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation menu -->
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto" role="menubar">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="nav-item dropdown" role="none">
              <a 
                class="nav-link dropdown-toggle" 
                href="{{ .URL }}" 
                role="menuitem" 
                aria-haspopup="true" 
                aria-expanded="false"
                {{ if eq $.RelPermalink .URL }}aria-current="page"{{ end }}
              >
                {{ .Name }}
              </a>
              <ul class="dropdown-menu" role="menu">
                {{ range .Children }}
                  <li role="none">
                    <a 
                      class="dropdown-item" 
                      href="{{ .URL }}" 
                      role="menuitem"
                      {{ if eq $.RelPermalink .URL }}aria-current="page"{{ end }}
                    >
                      {{ .Name }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            <li class="nav-item" role="none">
              <a 
                class="nav-link" 
                href="{{ .URL }}" 
                role="menuitem"
                {{ if eq $.RelPermalink .URL }}aria-current="page"{{ end }}
              >
                <span class="primary-text">{{ .Name }}</span>
                
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      <ul class="navbar-nav ms-auto vertical-divider">
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/{{ .Site.Params.twitterUsername }}" target="_blank">
            <img src = "/images/twitterx.svg" alt="twitterx"/>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.instagram.com/{{ .Site.Params.instaUsername }}" target="_blank">
            <img src = "/images/instagram.svg" alt="instagram"/>
          </a>
        </li>
      </ul>
      
      <!-- Search form -->
      <!-- <form class="d-flex ms-lg-3" role="search" action="{{ .Site.BaseURL }}search/" method="get">
        <div class="input-group">
          <input 
            class="form-control" 
            type="search" 
            name="q" 
            placeholder="Search articles..." 
            aria-label="Search articles"
            value="{{ .Params.searchQuery | default "" }}"
          >
          <button class="btn btn-outline-primary" type="submit" aria-label="Submit search">
            <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </div>
      </form> -->
    </div>
  </div>
</nav>

<!-- Skip to main content link for accessibility -->
<a href="#main-content" class="skip-link sr-only sr-only-focusable">
  Skip to main content
</a>
