.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.form-control:focus {
  border-color: $black;
  outline: none;
  box-shadow: none;
}

@keyframes dash-down-animation {
  0% {
    transform: translateY(0);
    transform-origin: top;
  }
  100% {
    transform: translateY(1);
    transform-origin: top;
  }
}

ul {
  padding: 1rem;
}

.read-more {
  font-style: italic;
  font-size: 0.875rem;
  color: $green;
  margin-right: -6px;
}

.vertical-divider {
  border-left: 1px solid $text-color-dark;
  padding: 0 0.25rem;
}

.reading-time {
  height: 1rem;
  width: 1rem;
}

.arrow-navigation {
  height: 2rem;
  width: 2rem;
}

table, th, td {
  border: 1px solid;
  padding: 0.5rem;
  border-style: dotted;
  margin-bottom: 0.5rem;
}

th {
  img {
    width: 28rem;
    height: 26rem;
    object-fit: cover;
  }
}

.primary-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: $primary-color;
  font-family: $primary-font;
  letter-spacing: 0.5px;
}