//site color variables
$body-color: #fff;
$primary-color: #263238;
$secondary-color: #3b5998;
$text-color: #808080;
$text-color-dark: #455a64;
$site-ease: cubic-bezier(0.645, 0.045, 0.355, 1);
$border-color: #e0dede;
$link-color: #2962ff;

// solid colors
$white: #fff;
$black: #000;
$green: #1b5e20;

// Font Variables
$primary-font: "Merriweather", sans-serif;
$secondary-font: "Merriweather", sans-serif;

