{{ define "main" }}

<section class="blog-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 order-2 order-lg-1">
        <div class="share-now">
          <a href="#" class="scrol">Share</a>
          <div class="sociel-icon">
            <ul>
              <li>
                <a href="http://www.twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&hashtags=parenting&via=ParentingQ" target="_blank">
                  <i class="fa-brands fa-square-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://api.whatsapp.com/send?text={{ .Title }} {{ .Permalink }}" rel="nofollow" target="_blank">
                  <i class="fa-brands fa-whatsapp-square"></i>
                </a>
              </li>
              <li>
                <a href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}" target="_blank">
                  <i class="fa-brands fa-pinterest"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" rel="nofollow" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-10 order-1 order-lg-2">
        <article class="single-blog">
          <a href={{ printf "tags/%s" .Params.tags | absURL }} class="tag">{{ .Params.tags }}</a>
          <p class="title">{{ .Title }}</p>
          <ul class="meta">
            <li>
              By <a href={{ "about" | absURL }}>{{ $.Site.Params.author }}</a>
            </li>
            <li>
              <i class="fa-regular fa-clock"></i>
              {{ .PublishDate.Format "January 2, 2006" }}
              <i class="fa-regular fa-clock"></i>
              {{ partial "reading-time.html" . }}
            </li>
          </ul>
          <div class="d-md-none">
            <div class="share-now">
              <a href="#" class="scrol">Share</a>
              <div class="sociel-icon">
                <ul>
                  <li>
                    <a href="http://www.twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&hashtags=parenting&via=ParentingQ" target="_blank">
                      <i class="fa-brands fa-square-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://api.whatsapp.com/send?text={{ .Title }} {{ .Permalink }}" rel="nofollow" target="_blank">
                      <i class="fa-brands fa-whatsapp-square"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}" target="_blank">
                      <i class="fa-brands fa-pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" rel="nofollow" target="_blank">
                      <i class="fa-brands fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {{ if .Params.featureImage }}
          <div class="feature-image">
            <img src="{{ .Params.featureImage  | absURL }}" alt="banner">
          </div>
          {{ end }}
          <div class="single-blog-content">
            {{ .Content }}
          </div>

        </article>
        <div class="blog-single-presentation">
          <ul>
            {{ with .Site.RegularPages.Prev . }}
            <li> <a href="{{.RelPermalink}}" class="tag">PREVIOUS</a>
              <a href="{{.RelPermalink}}" class="title">
                {{ .Title }}
              </a>
              <i class="fa-regular fa-clock"></i>
              {{ .PublishDate.Format "January 2, 2006" }}
              <i class="fa-regular fa-clock"></i>
              {{ partial "reading-time.html" . }}
            </li>
            {{ end }}
            {{ with .Site.RegularPages.Next . }}
            <li> <a href="{{.RelPermalink}}" class="tag">Next</a>
              <a href="{{.RelPermalink}}" class="title">
                {{ .Title }}
              </a>
              <i class="fa-regular fa-clock"></i>
              {{ .PublishDate.Format "January 2, 2006" }}
              <i class="fa-regular fa-clock"></i>
              {{ partial "reading-time.html" . }}
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="blog-post-widget">
            <div class="latest-widget-title">
              <h2>Trending post</h2>
            </div>
            <div class="row">
            {{ range $i, $.Site.RegularPages }} {{ if eq .Params.trending true }}
            <div class="latest-widget col-lg-6">
              <div class="latest-widget-thum">
                <a href="{{ .Permalink }}" class="post-thumb"
                  style='background-image: url("{{ .Params.thumbnail | absURL }}")'>
                </a>
                <div class="icon">
                  <a href="{{ .Permalink }}">
                    <img src="{{ $.Site.Params.trendingBlogIcon | absURL }}" alt="icon" /></a>
                </div>
              </div>
              <div class="latest-widget-content">
                <div class="content-title">
                  <a href="{{ .Permalink }}">
                    {{ .Title }}
                  </a>
                </div>
                <div class="content-meta">
                  <ul>
                    <li>
                      <i class="fa-regular fa-clock"></i>
                      {{ .PublishDate.Format "January 2, 2006" }}
                      <i class="fa-regular fa-clock"></i>
                      {{ partial "reading-time.html" . }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {{ end }} {{ end }}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}