{{ define "main" }}
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="blog-section-title">
          <h1 class="tag-title">View the latest blogs on: {{ .Title }}</h1>
        </div>
        <div class="list-container">
          {{ range $.Paginator.Pages }}
          <div class="item">
            <img src="{{ .Params.thumbnail  | absURL }}" alt="blog-thum" />
              <div>
                <div class="item-title">
                  <a href="{{ .Permalink }}"> {{ .Title }} </a>
                </div>
                <div class="item-meta">
                  <ul>
                    <li>
                      {{ .PublishDate.Format "Jan 2, 2006" }}
                      <img class="vertical-divider" src = "/images/clock.svg" alt="reading time" />
                      {{ partial "reading-time.html" . }}
                    </li>
                  </ul>
                </div>
                <p>
                  <a href="{{ .Permalink }}" class="blog-post-action"> {{ .Params.description }}
                    <span class="read-more">Read More</span>
                    <img src = "/images/triplearrow.svg" alt=""/>
                  </a>
                </p>
              </div>
          </div>
          {{ end }}
      </div>
        {{ partial "pagination" .}}
      </div>
    </div>
  </div>
</section>
{{ end }}