{{ define "main" }}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-me">
          <h1>{{ .Site.Data.about.heading }}</h1>
          <img class="mb-3" src="{{ .Site.Params.about | absURL}}" alt="image">
          <h3>{{ .Site.Data.about.subheading }}</h3>
          <p>{{ .Site.Data.about.p1 }}</p>
          <p>{{ .Site.Data.about.p2 }}</p>
          <div class="img-container">
            <img class="mb-3" src="{{ .Site.Params.pq_1 | absURL}}" alt="image">
            <img class="mb-3" src="{{ .Site.Params.pq_2 | absURL}}" alt="image">
            <img class="mb-3" src="{{ .Site.Params.pq_3 | absURL}}" alt="image">
            <img class="mb-3" src="{{ .Site.Params.pq_4 | absURL}}" alt="image">
          </div>
          <p>{{ .Site.Data.about.p3 }}</p>
          <p>{{ .Site.Data.about.p4 }}</p>
          <p class="regards">{{ .Site.Data.about.regards }}</p>
          <p class="regards">{{ .Site.Data.about.team }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}