{{ define "main" }}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-me">
          <img class="actor mb-3" src="{{ .Site.Params.about | absURL}}" alt="image">
          <h3>{{ .Site.Data.about.title }}</h3>
          <p>{{ .Site.Data.about.p1 }}</p>
          <p>{{ .Site.Data.about.p2 }}</p>
          <p>{{ .Site.Data.about.p3 }}</p>
          <p class="regards">{{ .Site.Data.about.regards }}</p>
          <p class="regards">{{ .Site.Data.about.team }}</p>
          <ul class="social-icon">
            <li> <a href="https://twitter.com/{{ .Site.Params.twitterUsername }}"><i class="fa fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}