{{ range $.Site.RegularPages }}
{{ if eq .Params.featured true }}
<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <div class="featured-summary">
              <div class="featured-summary-title">
                <div class="featured-post-author">
                  <img src="{{ $.Site.Params.authorThumb | absURL }}" alt="author" />
                </div>
                <div>
                  <a href="{{ .Permalink }}" class="featured-post-title">
                    {{ .Title }}
                  </a>
                  <!-- <p>By <a href={{ "about" | absURL }}>{{ $.Site.Params.author }}</a></p> -->
                </div>
              </div>
              <div class="featured-summary-subtitle">
                <h1 class="featured-body">Parenting quotient isn't about being a perfect parent; it's about being a present parent.</h1> 
                Quality time, active listening, and genuine connection build the foundation of a strong parent-child relationship. 
                Let's prioritize moments that matter and make lasting memories with our little ones.
                <br />
                <br />
                Parenting Quotient is not about having all the answers, but about being open to learning and growing alongside our children.
              </div>
            </div>
          </div>
          <div class="featured-post-thumb">
            <img src="{{ $.Site.Params.mainThumb  | absURL }}" alt="feature-post-thumb" fetchpriority="high" />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}