<div class="sociel-icon">
  <ul>
    <li>
      <a href="http://www.twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&hashtags=parenting&via=ParentingQ" target="_blank">
        <img src="/images/twitterx.svg" alt="x.com" width="24" height="24"/>
      </a>
    </li>
    <li>
      <a href="https://api.whatsapp.com/send?text={{ .Title }} {{ .Permalink }}" rel="nofollow" target="_blank">
        <img src="/images/whatsapp.svg" alt="whatsapp" width="24" height="24"/>
      </a>
    </li>
    <li>
      <a href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}" target="_blank">
        <img src="/images/pinterest.svg" alt="pinterest" width="24" height="24"/>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" rel="nofollow" target="_blank">
        <img src="/images/linkedin.svg" alt="linkedin" width="24" height="24"/>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&title={{ .Title }}" rel="nofollow" target="_blank">
        <img src="/images/facebook.svg" alt="facebook" width="24" height="24"/>
      </a>
    </li>
  </ul>
</div>